In [3]:
import pandas as pd
import numpy as np
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import json
import urllib

%matplotlib inline

pd.options.mode.chained_assignment = None

In [4]:
data_path = "./"
#load in training data
train_json = data_path + "train.json"
df = pd.read_json(train_json)
df.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue
100004,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street
100007,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street
100013,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street

In [3]:
dedupe = ['building_id','bathrooms','bedrooms','street_address','manager_id','latitude','longitude','price','interest_level','description']

print "size of dataset: ",len(df)
print "number of unique entries: ",len(df[dedupe].drop_duplicates(subset = dedupe))

size of dataset:  49352
number of unique entries:  46428

Actually looks like duplicates aren't a real issue probably just lots of listings in the same building

# Preprocessing

In [42]:
#function to pull a walkscore for a given property using walkscore api
api_key = '67f61200a3b427ee5e01e62c974c4ea7'

def walkscore(lat,lng,address):
    try:
        url = 'http://api.walkscore.com/score?format=json&'+urllib.urlencode({'address':address})+'&lat='+str(lat)+'&lon='+str(lng)+'&transit=1&bike=1&wsapikey='+api_key
        r = requests.get(url.encode('utf-8'))
        data = r.text
        parsed = json.loads(data)
        if parsed['status'] == 1:
            try:
                walkscore = parsed['walkscore']
                return walkscore
            except KeyError:
                pass
        else:
            pass
    except ValueError:
        print 'Error'

In [17]:
### Reverse Geocoding using Google Maps API
google_maps_api = 'AIzaSyAs590G8_7_Gz2cZkwsintI08t6n4rWA-U'

def reverse_geocoding(latitude,longitude):
    url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+str(latitude)+","+str(longitude)+'+&key='+google_maps_api
    r = requests.get(url)
    location_data = r.text
    parsed = json.loads(location_data)
    formatted_address = parsed[0]['formatted_address']
    neighborhood = parsed['results'][0]['address_components'][3]['short_name']
    return formatted_address

In [5]:
address = ['street_address','latitude','longitude']
unique_addresses = df[address].drop_duplicates(subset = address)
len(unique_addresses)

16518

In [46]:
unique_addresses['scores'] = unique_addresses.apply(lambda row: walkscore(row['latitude'], row['longitude'],row['street_address']), axis = 1)

In [45]:
unique_addresses.head()

                 street_address  latitude  longitude
10      792 Metropolitan Avenue   40.7145   -73.9425
10000       808 Columbus Avenue   40.7947   -73.9667
100004          241 W 13 Street   40.7388   -74.0018
100007     333 East 49th Street   40.7539   -73.9677
100013    500 West 143rd Street   40.8241   -73.9493

In [37]:
df['num_features'] = df['features'].apply(len)
df['num_photos'] = df['photos'].apply(len)

In [ ]:
print "min: ",np.min(df['created'])
print "max: ",np.max(df['created'])

In [38]:
numerical_features = ['price','bathrooms','bedrooms','num_features','num_photos']
quantiles = [0,0.01,0.05,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,0.95,0.99,1]

df[numerical_features].quantile(quantiles)

          price  bathrooms  bedrooms  num_features  num_photos
0.00       43.0        0.0       0.0           0.0         0.0
0.01     1475.0        1.0       0.0           0.0         0.0
0.05     1800.0        1.0       0.0           0.0         0.0
0.10     2000.0        1.0       0.0           1.0         2.0
0.20     2350.0        1.0       1.0           2.0         3.0
0.30     2600.0        1.0       1.0           3.0         4.0
0.40     2850.0        1.0       1.0           4.0         5.0
0.50     3150.0        1.0       1.0           5.0         5.0
0.60     3450.0        1.0       2.0           6.0         6.0
0.70     3800.0        1.0       2.0           7.0         7.0
0.80     4500.0        1.0       2.0           9.0         8.0
0.90     5651.8        2.0       3.0          11.0         9.0
0.95     6895.0        2.0       3.0          13.0        11.0
0.99    13000.0        3.0       4.0          16.0        18.0
1.00  4490000.0       10.0       8.0          39.0        68.0

In [63]:
df[df['bathrooms']== 10]

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address,num_features,num_photos
104459,10.0,2,424f8014bddc288d26da5fe81d0bea02,2016-04-09 04:34:31,***The building?s well-attended lobby welcomes...,W 52 St.,"[Doorman, Elevator, Fitness Center, Laundry in...",low,40.7633,6849204,-73.9849,0c71a59cb70215fbf49c9dd93efaa172,[https://photos.renthop.com/2/6849204_1f92b58a...,3600,260 W 52 St.,6,5

In [40]:
cm = sns.light_palette("green", as_cmap=True)

df[numerical_features].corr().style.background_gradient(cmap=cm)